<header class="page-header">
    <div class="container">
        <div class="page-header__in">
            <img class="lazyload page-header__logo"
                 data-src="_asset/img/logo.svg"
                 width="168" height="66"
                 alt="2040world">

            {{#unless isLogged}}
                <div class="logo-alpha">
                    <div class="logo-alpha__title">
                        <span>Alpha</span>
                    </div>
                    <div class="logo-alpha__caption">
                        Version
                    </div>
                </div>
            {{/unless}}

            {{#if isLogged}}
                <div class="user">
                    <div class="avatar user__avatar">
                        <!-- Фото, если есть
						<img class="lazyload avatar__img"
							 data-src="https://via.placeholder.com/200"
							 width="100" height="100" alt="">
						-->
                    </div>
                    <div class="box-text user__text">
                        <a class="text-body text-link user__text__in"
                           href="#">
                            namename@gmail.com
                        </a>
                    </div>
                </div><!--.user-->
            {{/if}}
        </div><!--.page-header__in-->
    </div><!--.container-->
</header><!--.page-header-->
