{{> layouts/head title="2040 world launcher" }}
<body>
    <div class="screen">
        {{> components/bg }}
        {{> layouts/header }}

        <div class="content-bottom">
            <div class="container">
                <div class="content-bottom__in">
                    <div class="content-bottom__left">

                    </div><!--.content-bottom__left-->

                    <div class="content-bottom__center">
                        <form class="form-row" autocomplete="off">
                            <div class="form-group">
                                <label class="form-label">Login</label>
                                <input class="form-field" type="text">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Password</label>
                                <input class="form-field" type="password">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="button">
                                    <span>Log in</span>
                                </button>
                            </div>
                        </form>
                    </div><!--.content-bottom__center-->

                    <div class="content-bottom__right">
                        <div class="box-text">
                            <a class="text-body text-link"
                               href="#">
                                Forgot password?
                            </a>
                        </div>
                    </div><!--.content-bottom__right-->
                </div><!--.content-bottom__in-->
            </div><!--.container-->
        </div><!--.content-bottom-->
    </div><!--.screen-->

	{{> layouts/foot }}
</body>
</html>