{{> layouts/head title="2040 world launcher" }}
<body>
    <div class="screen screen-loading">
        {{> layouts/header }}

        <div class="content-middle">
            <div class="loading">
                <div class="text-bordered loading__title intent-bottom-2xl">
                    Loading
                </div>
                <div class="progress-bar loading__bar intent-bottom-2xl">
                    <div class="progress-bar__fill"
                         style="width: 70%"></div>
                </div>
                <div class="box-text text-body text-body--l loading__label">70%</div>
            </div>
        </div><!--.content-middle-->
    </div><!--.screen-->

	{{> layouts/foot }}
</body>
</html>