{{> layouts/head title="2040 world launcher" }}
<body class="is-error">
    <div class="screen">
        {{> components/bg }}
        {{> layouts/header isLogged='true' }}

        <div class="content-bottom">
            <div class="container">
                <div class="content-bottom__in">
                    <div class="content-bottom__left">

                    </div><!--.content-bottom__left-->

                    <div class="content-bottom__center">
                        <div class="form-group">
                            <button type="button" class="button button--green">
                                <span>Play</span>
                            </button>
                        </div>
                    </div><!--.content-bottom__center-->

                    <div class="content-bottom__right">
                        <div class="box-text">
                            <p class="text-body text-color-warning">
                                Server is under maintenance
                            </p>
                        </div>
                    </div><!--.content-bottom__right-->
                </div><!--.content-bottom__in-->
            </div><!--.container-->
        </div><!--.content-bottom-->
    </div><!--.screen-->

	{{> layouts/foot }}
</body>
</html>