{{> layouts/head title="2040 world launcher" }}
<body>
    <div class="screen">
        {{> layouts/header }}

        <div class="content-middle">
            <ul style="text-align: left">
                <li>
                    <a class="text-body text-body--l text-link"
                       href="01.html">01</a>
                </li>
                <li class="intent-top-m">
                    <a class="text-body text-body--l text-link"
                       href="01-errors.html">01-errors</a>
                </li>
                <li class="intent-top-m">
                    <a class="text-body text-body--l text-link"
                       href="02.html">02</a>
                </li>
                <li class="intent-top-m">
                    <a class="text-body text-body--l text-link"
                       href="03.html">03</a>
                </li>
                <li class="intent-top-m">
                    <a class="text-body text-body--l text-link"
                       href="04_01.html">04_01</a>
                </li>
                <li class="intent-top-m">
                    <a class="text-body text-body--l text-link"
                       href="04_02.html">04_02</a>
                </li>
                <li class="intent-top-m">
                    <a class="text-body text-body--l text-link"
                       href="05.html">05</a>
                </li>
                <li class="intent-top-m">
                    <a class="text-body text-body--l text-link"
                       href="05_2.html">05_2</a>
                </li>
                <li class="intent-top-m">
                    <a class="text-body text-body--l text-link"
                       href="06.html">06</a>
                </li>
                <li class="intent-top-m">
                    <a class="text-body text-body--l text-link"
                       href="07.html">07</a>
                </li>
            </ul>
        </div><!--.content-middle-->
    </div><!--.screen-->

	{{> layouts/foot }}
</body>
</html>